
nav {
   background-color: #00C7FF;
   border: 1px black solid;
   padding: 20px;
}
header {
   background-color: #00FF9E;
   border: 1px black solid;
   padding: 20px;
}

section {
   background-color: #FFF;
   border: 1px black solid;
   padding: 20px;
}

article {
   background-color: #FFF;
   border: 1px black solid;
   padding: 20px;
}

footer {
   background-color: #00C7FF;
   border: 1px black solid;
   padding: 20px;
}

#two_column {
   background-color: #FFB7CF;
   border: 1px black solid;
   padding: 20px;
}

#left {
   background-color: #FFF;
   border: 1px black solid;
   padding: 20px;
   float: left;
   width: 30%;
}

#right { 
   background-color: #FFF;
   border: 1px black solid;
   padding: 20px;
   float: right;
   width: 62%;

    }
.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;


}
