@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
	background-size:cover;
   background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("../images/santorini.jpg");
   font-family: 'Poppins', sans-serif;
   font-size:22px;
   color:#FFF;
   text-align: center;
}

p { 
   font-family: 'Poppins', sans-serif;
   font-size:22px;
   color:#FFF;
   text-align: center;
   background:#606060;
}

ul{
	text-align:center;
	list-style-type: none;
}