body {
	background-size:cover;
   font-family:helvetica;
   font-size:22px;
 color:#FFF;
   text-align: center;
   background:#606060;
}


p{font-family:helvetica;
   font-size:22px;
 color:#FFF;
   text-align: center;
   background:#606060;}

   ul{
   	text-align:center;
   	list-style-type: none;
   }